* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    font-size: 18px;
    background-color: hsl(217, 54%, 11%) !important;
    color: hsl(0, 0%, 100%) !important;
}

.nft-card {
    background-color: hsl(216, 50%, 16%);
}

.nft-card__description {
    font-size: 18px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}